body {
	font-family: Lucida Sans Unicode;
	font-size: 14px;
	color: #28324e;
	margin-left: 40px;
}

h1 {
	color: #FBA026;
}

a:link, a:visited {
	color: #3D8EB9;
}

a:hover {
	color: #f37934;
}

th {
	text-align: center;
}

#button {
	float: left;
	padding-left: 40px;
	padding-top: 20px;
	width: 200px;
}

#status {
	color: #006600;
	width: 200px;
	padding-top: 25px;
	float: left;
}

#error {
	color: #CC0000;
	padding-top: 25px;
	float: left;
}

#save {
	background-color: #666666;
	color: white;
	border: 0px;
	font-size: 20px;
	width: 160px;
}

#save:hover {
	background-color: #f37934;
}
