body {
	min-width: 230px;
	font-family: Lucida Sans Unicode;
	font-size: 12px;
	color: #EFEFEF;
	background-color: #FBA026;
}

p {
	margin: 0;
	margin-left: 10px;
}

#output {
	width: 300px;
	height: 200px;
	background-color: white;
	color: #475577;
	padding: 10px;
	margin-top: 10px;
}

#status {
	height: 30px;
	text-align: center;
	color: #475577;
	padding: 10px;
}
